<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<!-- Menu de navegacion listas y formularios-->
	<nav id="header" class="navbar navbar-expand-lg navbar-dark llll mb-2" th:fragment="menuNavegacionBack">
        <div class="container-sm">
            <a class="navbar-brand" href="#">
                <a href="#" class="navbar-brand">
                    <img style="width: 50px" th:src="@{/imagenes/logo.png}" alt="Logo de Shaddai Import">
                    Shaddai Import
                </a>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/listarcliente}">CLIENTES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/listaproveedor}">PROVEEDOR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/listarproducto}">PRODUCTOS</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/venta/listaventas}">VENTAS</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/compra/listacompras}">COMPRAS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</html>