html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
border: 5px solid black;
border-radius: 23px;
  max-width: 430px;
  height: 600px;
  padding: 15px;
  font-size: 20px;
  background: #90c9c9;
}
.form-signin img{
    width: 98px;
    height: 100px;
    border-radius: 80px;
    border: 2px solid white;
    background: white;
}
.form-signin h1{
    font-size: 35px;
    margin-top:20px;
    
    padding-bottom: 30px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input{
    width: 360px;
    height: 45px;
    margin-left: 17px;
    margin-top: 15px;
    border-radius: 8px;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
 
  
 
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .btn1{
    border: 1px solid black;
    background: #03b2a1;
    border-radius: 12px;
    
    
}
.form-signin .btn1:hover{
    background: #038c7f;
}
.btn-log{
    background:#03b2a1 ;
    margin-bottom: 25px;
    width: 360px;
    height: 40px;
    border-radius: 10px;
    border:1px solid black;
}
.btn-log:hover{
    background: #038c7f;
}
.btn{
	background:#03b2a1 ;
    color: black;
    padding: 20px,200px;
    border-radius: 10px;
    border:1px solid black;
    cursor: pointer;
}
.btn:hover{
    background: #038c7f;
}