 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }  
 
 
 
 body{
 
    font-family:Helvetica, sans-serif;
    color: #596770;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    
 }

:root{
   --red:#038C7F;
   --black:#252a34;
   --blue:#0D0D0D;
   --white:#e6dada;
   --title:35px;
   --text:19px;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffff;
    overflow-x: hidden;
    font-family: 'Red Hat Text', sans-serif;
}
.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    
    width: 50px;
    height: 50px;
    background: #fff;
    border:2px solid var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
}
.go-top:hover{
    background: var(--red);
    color:#fff;
    border: 2px solid var(--white);
}
.go-top:hover span{color:var(--white);}

.go-top > span{
   font-size: 30px;
   color: var(--black);
}


/** Skew **/


/** Navegation Menu **/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgb(219, 217, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box {margin-left: 20px;}
.menu .logo-box a img{
    width: 220px;
    height: 90px;
    padding: 20px 30px 20px 10px;
    float: left;
    margin: 0;   
}
.menu .list-container{margin-right: 20px;}
.menu .list-container ul{display: flex;}
.menu .list-container ul li{list-style: none;}
.menu .list-container ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color: var(--black);
    border-radius: 24px;
    transition: 0.3s;
    font-size: 20px;
}
.menu .list-container ul li a:hover{
    background: var(--red);
    color:#fff;
}

.btn-menu > .fa-bars{
    display: none;
}





.llll{
	background: #1F4964;
	margin:0px,0px,0px,250px;
	padding:0px,0px,0px,90px;
	font-size: 20px;
	float:right;
	color: white;
	
	
}
.icocor1 {
	font-size: 30px;
	padding: 5px;
	margin: 0px;
}

.posicion{
	align-content: center;
	align-items: center;
}

 
.container{
	padding-top: 160px;
	
}
h1{
	font-size: 39px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.btn1{
	padding-left:10px;
	font-size: 30px;
	margin-top: 10px;
}
.buscar{
   padding: 10px 0px 15px 100px;
   right: 80px;
   display:flex;
  
   
}

.input1{
   width: 450px;
   left: 100px;
   padding: 10px;
   outline: none;
   border-radius: 3px;
   border: 3px solid  #a6a6a6;
   font-weight: 0;
   font-size: 17px;
}
.separacion{
	padding-top: 5px;
}
